/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Cinzel', sans-serif; }

h1 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  letter-spacing: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 3.5rem; } }

.info {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif; }
  .info__text {
    color: #ccc;
    background-color: orangered;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .info__text {
        font-size: 1rem; } }

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5); }

.loader img {
  position: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.image-container {
  margin: 1rem 30%; }
  @media only screen and (max-width: 37.5em) {
    .image-container {
      margin: 1rem; } }

.image-container img {
  margin-top: 1rem;
  width: 100%; }
